.choose-champion-container {
    background-color: var(--background);
    border-style: solid;
    border-width: 2px;
    border-radius: 7px;
}

.role-caption,
.champion-caption,
.choose-champion-caption {
    display: block;
    text-align: center;
}

.role-and-caption {
    float: left;
}

.champion-avatar-and-caption {
    float: left;
    text-align: center;
}

.choose-champion-caption {
    font-size: 10px;
    margin-top: 10px;
}

.champion-avatar {
    width: 70px;
    margin-top: 5px;
    border-radius: 5%;
}

.champion-avatar-other {
    margin-top: 10px;
}

.search-container {
    float: right;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    margin-right: 9px;
}

.search-button {
    pointer-events: none;
    margin-right: -1px;
}

.search-icon {
    width: 15px;
}

.cancel-button {
    width: 20px;
    position: absolute;
    margin-top: 5px;
    cursor: pointer;
}

input[type=text] {
    border-radius: 5px;
    width: 160px;
    height: 30px;
    font-size: 17px;
}