.choose-champion-container {
    display: flex;
    background-color: var(--background);
    border-style: solid;
    border-width: 2px;
    border-radius: 7px;
}

.role-caption,
.champion-caption,
.choose-champion-caption {
    display: block;
    text-align: center;
}

.champion-avatar-and-caption {
    display: block;
    text-align: center;
}

.champion-avatar {
    width: 70px;
    margin-top: 5px;
    border-radius: 5%;
}

.champion-avatar-other {
    margin-top: 10px;
}

.choose-champion-caption {
    font-size: 10px;
    margin-top: 10px;
}

.search-container {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.search-button {
    margin-right: -1px;
}

.search-icon {
    padding-top: 2px;
    width: 15px;
}

.cancel-button {
    width: 20px;
    position: absolute;
    cursor: pointer;
}

input[type=text] {
    height: 20px;
}
