.role-caption {
    margin-top: -7px;
    font-weight: bold;
}

.role-container {
    text-align: center;
  }

.role-container:hover {
    opacity: 1;
    filter: grayscale(0%);
    cursor: pointer;
}