header {
  text-align: center;
  margin-top: 15px;
}

.logo {
  height: 70px;
  width: auto;
  display: inline-block;
  vertical-align: top;
}

.title {
  font-family: "Palatino Linotype", "Book Antiqua", "Palatino", serif;
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
}