h1.title {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: white;
  font-size: 45px;
  text-decoration: none;
  margin-bottom: 20px;
}

header {
  text-align: center;
  margin-top: 15px;
}

.logo {
  height: 70px;
  width: auto;
  display: inline-block;
  vertical-align: top;
}

.title {
  font-family: "Palatino Linotype", "Book Antiqua", "Palatino", serif;
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
}