h1.title {
  display: inline-block;
  margin-top: 0px;
  margin-left: 10px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: white;
  font-size: 45px;
  text-decoration: none;
  margin-bottom: 20px;
}

header {
  text-align: center;
  margin-top: 15px;
}

.logo {
  height: 70px;
  width: auto;
  display: inline-block;
  vertical-align: top;
}