.sugestion-entry {
    display: flex;
}

.counter-or-synergy-text {
    display: inline;
    vertical-align: top;
}

.counter-synergy-entry {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: top;
}